@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white {
    background: transparent;
    padding: 11px 18px;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    outline: none;
    border: 1px solid #fff;
    cursor: pointer;
    transition: 0.2 ease;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;

}
/*-------Start Header------*/
#header {
  height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #F2eee3;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

.logo{
	width: 120px;
  animation:2s ease-in 1s infinite alternate forwards running bounce;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
    
  }
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#navbar li a i {
    font-weight: 500;
    font-size: 20px;
}
.nav-icon{
	display: flex;
	align-items: center;
}
.nav-icon i{
	margin-right: 20px;
	color: #000;
	font-size: 20px;
	font-weight: 400;
	transition: all .40s ease;
}
.nav-icon i:hover{
	transform: scale(1.1);
	color: #777;
}
#cart-icon {
  font-size: 1.8rem;
  cursor: pointer;
}
#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}
/* ==drop menu start== */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 15%;

}

.dropdown-content a {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  border-radius: 15%;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropright {
  /* position: relative; */
  display: inline-block;
}

.dropright-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 15%;

}

.dropright-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropright-content a:hover {
  background-color: #f1f1f1;
  border-radius: 15%;
}

.dropright:hover .dropright-content {
  display: block;
  margin-left: 90px;
  margin-top: -50px;
}

#dropmen{
  position: relative;
  padding-right: 15px;
  padding-left: 15px;

}
#dropi{
  padding-left: 20px;
}
/* ==drop menu end== */

/*-----------End Header--------*/


/*---------------- Cart -----------------------*/
.cart {
  position: fixed;
  top: 0;
  right: -100%;
  width: 360px;
  min-height: 100vh;
  padding: 20px;
  background: var(--bg-color);
  box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
  transition: 0.3s;
}
.cart.active {
  right: 0;
  background-color: #cbd3d2;
  opacity: 0.9;
}
.cart-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2rem;
}
.cart-box {
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
 
}
.cart-img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  padding: 10px;
}
.detail-box {
  display: grid;
  row-gap: 0.5rem;
}
.cart-product-title {
  font-size: 1rem;
  text-transform: uppercase;
}
.cart-price {
  font-weight: 500;
}
.cart-quantity {
  border: 1px solid var(--text-color);
  outline-color: var(--main-color);
  width: 2.4rem;
  text-align: center;
  font-size: 1rem;
}
.cart-remove {
  font-size: 24px;
  color: var(--main-color);
  cursor: pointer;
}
.total {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  border-top: 1px solid var(--text-color);
}
.total-title {
  font-size: 1rem;
  font-weight: 600;
}
.total-price {
  margin-left: 0.5rem;
}
.btn-buy {
  display: flex;
  margin: 1.5rem auto 0 auto;
  padding: 12px 20px;
  border: 1px solid #088178 ;
  background: #088178;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
}

.cart a{
  text-decoration: none;
}

.btn-buy:hover {
  background: #fff;
  color: #088178;
}
#close-cart {
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  font-size: 2rem;
  color: var(--text-color);
  cursor: pointer;
}
.section-title {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.5rem;
}
.shop {
  margin-top: 2rem;
}

#pagination {
  text-align: center;
}

#pagination a {
  text-decoration: none;
  background: #088178;
  padding: 15px 20px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
}

#pagination a i {
  font-size: 16px;
  font-weight: 600;
}
/*--------------- Shop Content---------------- */
.shop-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  gap: 1.5rem;
}
.product-box {
  position: relative;
  margin: 5px;
}
.product-box:hover {
  padding: 10px;
  border: 1px solid var(--text-color);
  transition: 0.4s;
}
.product-img {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
}
.product-title {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
.price {
  font-weight: 500;
}
.add-cart {
  position: absolute;
  bottom: 0;
  right: 0;
  background: var(--text-color);
  color: var(--bg-color);
  padding: 10px;
  cursor: pointer;
}
.add-cart:hover {
  background: hsl(138, 84%, 39%);
}

/*---------------Newletter-------------*/

#newsletter {
  background-image: url("../img/banner/b14.png");
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}

#newsletter p {
  font-size: 14px;
  font-weight: 600;
  color: #818ea0;
}

#newsletter p span {
  color: #ffbd27;
}

#newsletter input {
  height: 3.125rem;
  padding: 0 1.25rem;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  outline: none;
}

#newsletter .form {
  display: flex;
  width: 40%;
}

#newsletter button {
  background-color: #088178;
  color: #fff;
  white-space: nowrap;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

/*----------Footer start----------*/

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .logo {
  margin-bottom: 30px;
}

footer .follow {
  margin-top: 20px;
}

footer .follow i {
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}

footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}

footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer a {
  font-size: 13px;
  text-decoration: none;
  margin-bottom: 10px;
  color: #222;
}

footer .install .row img {
  border: 1px solid #088178;
  border-radius: 6px;
}

footer .install img {
  margin: 10px 0 15px 0;
}

footer .copyright {
  width: 100%;
  text-align: center;
}

footer .follow i:hover,
footer a:hover {
  color: #088178;
}
/* ----------------the end---------------------- */
/* Breakpoints / Making Responsive */
/*-----Responsive web*/

@media (max-width:799px) {
  .section-p1 {
      padding: 40px;
  }
#feature .fe-box {
      margin: 15px;
  }
#mobile {
      display: flex;
  }
  #mobile i {
      color: #1a1a1a;
      font-size: 24px;
      padding-left: 20px;
  }
#banner {
      height: 20vh;
  }
  #sm-banner .banner-box {
      min-width: 100%;
      height: 30vh;
      padding: 30px;
  }
  #banner3 {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 0 40px;
  }
  #banner3 .banner-box {
      width: 28%;
  }
  #newsletter .form {
      width: 70%;
  }
}
@media (max-width:477px) {
.section-p1 {
  padding: 20px;
}
#feature .fe-box {
      width: 155px;
      margin: 0 0 15px 0;
  }
#banner {
      height: 40vh;
  }
  #sm-banner .banner-box {
      height: 40vh;
  }
  #sm-banner .banner-box {
      margin-top: 20px;
  }
  #banner3 {
      padding: 0 20px;
  }
  #banner3 .banner-box {
      width: 100%;
  }
  #newsletter {
      padding: 40px 20px;
  }
  #newsletter .form {
      width: 100%;
  }
  footer .copyright {
      text-align: start;
  }
/* Cart Page */
  #cart-add {
      flex-direction: column;
  }
  #cuopon,
  #subtotal {
      width: 100%;
  }
  #subtotal {
      padding: 20px;
  }
}