* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}



.mainbox {
  position: relative;
  width: 500px;
  height: 500px;
}

.mainbox::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: url(https://marsurl.com/images/VCiVd.png) no-repeat;
  background-size: 5%;
  left: 5%;
  top: 48%;
  transform: rotate(90deg);
}

.box {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 50%;
  border: 10px solid #949090;
  overflow: hidden;
  transition: all ease-in-out 5s;
  transform: rotate(90deg);
}

span {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
}

.span1 {
  clip-path: polygon(0 17%, 0 50%, 50% 50%);
  background-color: green;
}


.span2 {
  clip-path: polygon(0 17%, 30% 0, 50% 50%);
  background-color: red;
}

.span3 {
  clip-path: polygon(30% 0, 71% 0, 50% 50%);
  background-color: blue;
}

.span4 {
  clip-path: polygon(71% 0, 100% 18%, 50% 50%);
  background-color: rgb(16, 180, 185);
}

.span5 {
  clip-path: polygon(100% 18%, 100% 50%, 50% 50%);
  background: #ff8300;
}

.box2 .span3 {
  background-color: #00ff04;
}

.box2 {
  width: 100%;
  height: 100%;
  transform: rotate(180deg);
}

.font {
  color: white;
  font-size: 20px;
}

.box1 .span1 b {
  position: absolute;
  top: 36%;
  right: 78%;
  transform: rotate(200deg);
  text-align: center;
}

.box1 .span2 b {
  font-size: 16px;
  position: absolute;
  top: 25%;
  right: 57%;
  transform: rotate(-130deg);
}

.box1 .span3 b {
  position: absolute;
  top: 13%;
  right: 43%;
  transform: rotate(-90deg);
}

.box1 .span4 b {
  position: absolute;
  top: 20%;
  right: 22%;
  transform: rotate(-45deg);
}

.box1 .span5 b {
  font-size: 16px;
  position: absolute;
  top: 38%;
  right: 10%;
  transform: rotate(-15deg);
  text-align: center;
}

.box2 .span1 b {
  position: absolute;
  top: 34%;
  right: 80%;
  transform: rotate(200deg);
}

.box2 .span2 b {
  font-size: 16px;
  position: absolute;
  top: 20%;
  right: 60%;
  transform: rotate(-130deg);
  text-align: center;
}

.box2 .span3 b {
  font-size: 16px;
  color: #000;
  position: absolute;
  top: 20%;
  right: 36%;
  transform: rotate(280deg);
}

.box2 .span4 b {
  font-size: 16px;
  position: absolute;
  top: 27%;
  right: 20%;
  transform: rotate(310deg);
}

.box2 .span5 b {
  position: absolute;
  top: 35%;
  right: 10%;
  transform: rotate(-20deg);
  text-align: center;
}

.spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 4px solid #000;
  background-color: rgb(178, 9, 245);
  color: #fff;
  box-shadow: 0 5px 20px #000 inset;
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;
  z-index: 1;
}

.spin:active {
  width: 70px;
  height: 70px;
  font-size: 20px;
}

.mainbox.animate::after {
  animation: animateArrow 0.5s ease infinite;
}

audio {
  display: none;
}

@keyframes animateArrow {
  50% {
    right: -50px;
  }
}

.table-coupon{

  margin-right: 50px;
  /* margin: 0 160px 50px;
  padding: 0; */
  box-sizing: border-box;
  width: 500px;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  background-color: #adacac;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.header_fixed {
  max-height: 100vh;
  width: 100%;
  overflow: auto;
  border: 1px solid #dddddd;
}

.header_fixed thead th {
  position: sticky;
  top: 0;
  background-color: #fff;
  color: #000;
  font-size: 15px;
}

th,
td {
  border-bottom: 1px solid #dddddd;
  padding: 10px 20px;
  font-size: 14px;
  text-align: center;
}

td img {
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 15px;
  border: 5px solid #ced0d2;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr:nth-child(odd) {
  background-color: #edeef1;
}

tr:hover td {
  color: #44b478;
  cursor: pointer;
  background-color: #ffffff;
}

td button {
  border: none;
  padding: 7px 20px;
  border-radius: 20px;
  background-color: black;
  color: #e6e7e8;
}
.gacha-box{
  display: flex;
	justify-content: space-between;
	padding-top: 20px;
	flex-wrap: wrap;
}